# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
# *.mod
# *.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o

# Directorys
Releases/

# 20220319
tinyxml/
bin/
obj/
str/
*.cbp
*.layout
get.cpp
md5.cpp
md5.h
# xmlprocess.h

# 20220813
2ndVerify.cpp
2ndVerify_CHS.cpp
2ndVerify_CHT.cpp

